window {
    background-color: rgb(17, 17, 27);
}

box.main {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(30, 30, 46);
}

box.settings {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(30, 30, 46);
}

box.left {
    background-color: rgb(24, 24, 37);
    margin: 10px;
    border-radius: 10px;
}

button {
    margin: 10px;
    border-radius: 15px;
    min-width: 50px;
    background-color: rgb(49, 50, 68);
}

scale {
    min-width: 150px;
}

stacksidebar.sidebar list {
    background-color: rgb(17, 17, 27);
    padding: 7px;
    border-radius: 10px;
}

stacksidebar.sidebar row {
    background-color: rgb(49, 50, 68);
    border-radius: 5px;
}

label.explainer {
    margin-top: 20px;
}